@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

html, body{
    height: 100%;
    width: 100%;
    font-family:'Roboto', 'Open+Sans';
    color: #303a52;
}

nav h4 {
    font-family: 'Anton';
    font-size: 50px;
}

#cardImage {
    padding: 10%;
    border-radius: 5px;
}

#feature {
    background-image: url("../images/deco1.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    min-height: 500px;
    background-color: #086972;   
}

#feature2 {
    background-image: url("../images/plantIcons2.png");
    background-size: contain cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 200px;
    background-color: whitesmoke;
}

#feature3 {
    background-size: contain cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 300px;
    background-image: url("../images/cactusContact.jpg");
}



.navbar {
    padding: 20px;
}

.navbar-nav li {
    padding-right: 60px;

}

.nav-link {
    font-size: 1.1em !important;
}

.carousel-inner img {
    width: 50%;
    height: 50%;
}

.padding {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.succulentGarden {
    font-family:'Anton';
    font-size: 80px;
}


.welcome hr {
    border-top: 2px solid #b4b4b4;
    width: 50%;
    margin-top: .3rem;
    margin-bottom: 1rem;
}

.footerIndex {
    position: absolute;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}

.paddingMeet {
    padding-top: 7rem;
    padding-bottom: 2rem;
}

.shadowsBox {
    box-shadow: 0 2px 1.6px rgba(0, 0, 0, 0.01),
    0 4.5px 3.6px rgba(0, 0, 0, 0.014),
    0 7.9px 6.3px rgba(0, 0, 0, 0.017),
    0 12.5px 10px rgba(0, 0, 0, 0.02),
    0 19.3px 15.5px rgba(0, 0, 0, 0.023),
    0 30.1px 24.1px rgba(0, 0, 0, 0.026),
    0 50px 40px rgba(0, 0, 0, 0.03),
    0 100px 80px rgba(0, 0, 0, 0.04);
}

.paddingText {
    padding-right: 1rem;
    padding-left: 1rem;
}

.imageTable {
    width: 9rem;
    height: 9rem;
}





